/* GENERAL DECLARATIONS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;;
}

/* HEADER & SECTION-ONE */

a.link {
    text-decoration: none;
    font-size: 18px;
    color: #aeb0b4;
}

.header,
.section-one{
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #aeb0b4;
}

.container {
    max-width: 400px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: rgb(148, 145, 145);
    flex: 1;
    max-width: 600px;
    text-align: center;
}

button {
    background: #3882F6;
    padding: 8px 32px 8px 32px;
    border-radius: 8px;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    margin-top: 8px
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px 16px 64px;
    padding-bottom: 64px;
    gap:32px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px 16px 64px;
    padding-bottom: 64px;
    gap: 16px;
}

.header-links {
    display: flex;
    gap: 16px;
}

/* SECTION TWO */

.section-two {
    text-align: center;
}

.img-holder {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid royalblue;
}

.text-holder {
    padding-top: 5px
}

.holder {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 64px;
}

.item-cont {
    max-width: 150px;
}

.information-title {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    padding: 32px
}

/* SECTION THREE */

.section-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-cont {
    padding: 64px;
    max-width: 700px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #50555d;
    
}

.author {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}