/* GENERAL DECLARATIONS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;;
}

/* TITLE */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 32px 0px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bold;
}

/* MATCH SCREEN */

img {
    max-width: 80px;
}

.matchscreen {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 64px;
    padding: 64px;
    background-color: #50555d;
    flex-flow: column nowrap;
}

.result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.score-cont {
    display: flex;
    flex-flow: row nowrap;
    /* gap: 48px; */
}

.pscore-cont,
.compscore-cont {
    display: flex;
    flex-shrink: 0;
    padding: 16px;
}

.pscore,
.compscore {
    border: 2px #E5E7EB solid;
    border-radius: 4px;
    background-color: #E5E7EB;
    width: 100px;
    margin: 0px 12px 0px 12px;
    text-align: center;
}

/* SELECTION */

.selectionscreen {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
    padding-bottom: 64px;
    padding-right: 24px;
    background-color: #50555d;
    
}

.choice {
    display: flex;;
    justify-content: center;
    align-items: center;
    border: 2px #E5E7EB solid;
    width: 80px;
    height: 25px;
}