/* GENERAL DECLARATIONS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

:root {
    --utility-color: rgb(30,144,255);
    --operations-color: rgb(255,143,31);
    --numbers-color: rgb(33,124,126);
}

/* DISPLAY SCREEN */

#container {
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    align-items: center;   
    gap: 20px; 
    border: 2px black solid;
    border-radius: 15px;
}

.utility-row {
    display: flex;
    gap: 20px;
    width: 460px;
}

.utility {
    text-align: center;
    min-width: 220px;
}

/* BUTTONS */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

button.utility {
    width: 150px;
    height: 75px;
}

button.operator, button.number, button.dot {
    width: 100px;
    height: 100px;
}