/* GENERAL DECLARATIONS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

:root {
    --utility-color: rgb(30,144,255);
    --operations-color: rgb(255,143,31);
    --numbers-color: rgb(33,124,126);
}

/* DISPLAY SCREEN */



/* BUTTONS */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button.utility {
    width: 100px;
    height: 50px;
}

button.operator, button.number, button.dot {
    width: 50px;
    height: 50px;
}